In [3]:
import pandas as pd

In [2]:
file = 'carros.xlsx'
data = pd.read_excel(file)
df = pd.DataFrame(data)
display(df)

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner
...,...,...,...,...,...,...,...,...
4335,Hyundai i20 Magna 1.4 CRDi (Diesel),2014,409999,80000,Diesel,Individual,Manual,Second Owner
4336,Hyundai i20 Magna 1.4 CRDi,2014,409999,80000,Diesel,Individual,Manual,Second Owner
4337,Maruti 800 AC BSIII,2009,110000,83000,Petrol,Individual,Manual,Second Owner
4338,Hyundai Creta 1.6 CRDi SX Option,2016,865000,90000,Diesel,Individual,Manual,First Owner
4339,Renault KWID RXT,2016,225000,40000,Petrol,Individual,Manual,First Owner

In [15]:
#Preguntas Generales:

#¿Cuántos registros hay en total en el DataFrame?

total_registros = len(df)
print(f"Total de registros: {total_registros}")

Total de registros: 8680

In [5]:
#¿Cuántas columnas tiene el DataFrame y cuáles son sus nombres?

columnas = df.columns
cantidad_columnas = len(columnas)
print(f"Cantidad de columnas: {cantidad_columnas}")
print(f"Nombre de las columnas: {list(columnas)}")

Cantidad de columnas: 8
Nombre de las columnas: ['name', 'year', 'selling_price', 'km_driven', 'fuel', 'seller_type', 'transmission', 'owner']

In [6]:

#Análisis de Datos:

#¿Cuál es la media de precios de venta (selling_price)?

media_precio = df['selling_price'].mean()
print(f"Media de precios de venta: {media_precio}")

Media de precios de venta: 504127.3117511521

In [7]:
#¿Cuál es la cantidad total de kilómetros recorridos (km_driven)?

total_kilometros = df['km_driven'].sum()
print(f"Total de kilómetros recorridos: {total_kilometros}")

Total de kilómetros recorridos: 287376474

In [8]:
#Agrupación y Resumen:

#¿Cuántos registros hay para cada tipo de combustible (fuel)?

conteo_combustible = df['fuel'].value_counts()
print("Conteo de registros por tipo de combustible:")
print(conteo_combustible)

Conteo de registros por tipo de combustible:
fuel
Diesel      2153
Petrol      2123
CNG           40
LPG           23
Electric       1
Name: count, dtype: int64

In [9]:
#¿Cuál es la venta total agrupada por año (year)?

venta_total_por_anio = df.groupby('year')['selling_price'].sum()
print("Venta total agrupada por año:")
print(venta_total_por_anio)

Venta total agrupada por año:
year
1992        50000
1995        95000
1996       450000
1997       279000
1998      2568000
1999       735000
2000       978000
2001      2352998
2002      1905000
2003      1991000
2004      5113499
2005      9266107
2006     17357994
2007     21818999
2008     25259193
2009     44305994
2010     63104682
2011     79575988
2012    154225974
2013    187133191
2014    192025984
2015    222684984
2016    217185981
2017    358311985
2018    333341988
2019    206508994
2020     39286998
Name: selling_price, dtype: int64

In [10]:
#Filtrado de Datos:

#¿Cuántos registros hay para propietarios de segunda mano (owner = 'Second Owner')?

propietarios_segunda_mano = df[df['owner'] == 'Second Owner']
cantidad_segunda_mano = len(propietarios_segunda_mano)
print(f"Registros con propietarios de segunda mano: {cantidad_segunda_mano}")

Registros con propietarios de segunda mano: 1106

In [11]:
#¿Cuántos registros hay para transmisiones automáticas (transmission = 'Automatic')?

transmision_automatica = df[df['transmission'] == 'Automatic']
cantidad_automatica = len(transmision_automatica)
print(f"Registros con transmisión automática: {cantidad_automatica}")

Registros con transmisión automática: 448

In [12]:
df.to_json('df_resultante.json', orient='records')

In [13]:
json_data = 'df_resultante.json'
df_json = pd.read_json(json_data)
df = pd.concat([df, df_json], ignore_index=True)

In [14]:
df_json

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner
...,...,...,...,...,...,...,...,...
4335,Hyundai i20 Magna 1.4 CRDi (Diesel),2014,409999,80000,Diesel,Individual,Manual,Second Owner
4336,Hyundai i20 Magna 1.4 CRDi,2014,409999,80000,Diesel,Individual,Manual,Second Owner
4337,Maruti 800 AC BSIII,2009,110000,83000,Petrol,Individual,Manual,Second Owner
4338,Hyundai Creta 1.6 CRDi SX Option,2016,865000,90000,Diesel,Individual,Manual,First Owner
4339,Renault KWID RXT,2016,225000,40000,Petrol,Individual,Manual,First Owner